<div class="row">
  <div class="col-md-10">
    <%= form_tag do %>
        <% @exchange_questions.each do |q| %>
            <div class="row">
              <p><%= q.title %></p>
              <input type="<%= q.input_type %>" />
            </div>
        <% end %>
        <br/>
        <%= submit_tag("Submit", :class => "btn btn-primary") %>
    <% end %>
  </div>
</div>