<div class="row">
  <div class="col-xs-6 col-sm-2 col-sm-offset-10 col-md-2 col-md-offset-10">
    <%= link_to 'New exchange', new_exchange_path, class: 'btn btn-success'%>
  </div>
</div>

<h1>Listing Exchanges</h1>

<%= render 'layouts/table' %>


