<div class="row">
  <h1>New Event</h1>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= render 'form' %>
      <br/>
      <%= link_to 'Back', exchanges_path %>
    </div>
  </div>
</div>
