<div class="center jumbotron">
  <h1>Welcome to the GiftHub</h1>
      <%= link_to "Exchanges", exchanges_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Galleries", galleries_path, class: "btn btn-lg btn-primary" %>
</div>

<tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= link_to "#{exchange.name}",'#' %></td>
        <div class="thumbnail">
           <img src= <%=exchange.thumburl %> >
        <div>
      </tr>
    <% end %>
</tbody>
