<link rel="stylesheet" type="text/css" href="http://cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline.js"></script>
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>

<style>
    html, body, .container, .container-fluid {
        width: 100%;
        height: 100%;
    }

    .content-row {
        height: 100%;
    }

    .content-row * {
        height: 100%;
    }
</style>

<script type="text/javascript">
    var timeline;
  $(document).ready(function() {
    loadExchJSON();
    showNotifications();
  });
    function loadExchJSON() {
        $.ajax({
            type: "GET",
            url: "/",
            dataType: "json"
        }).done(function(data, status, jqXHR) {
            console.log("success");
            console.log(data);
            console.log(jqXHR);

            var timelineExchs = [];

            data.forEach(function(el) {
                var regStartDate = new Date(el.registration_start);
                var regEndDate = new Date(el.registration_end);
                timelineExchs.push({
                    "startDate": regStartDate.getFullYear() + "," + (regStartDate.getMonth() + 1) + "," + regStartDate.getDate(),
                    "endDate": regEndDate.getFullYear() + "," + (regEndDate.getMonth() + 1) + "," + regEndDate.getDate(),
                    "headline": el.name,
                    "text": el.description + (regStartDate < Date.now() ? '<br/><a class="btn btn-success" href="/exchanges/' + el.id + '/form' : '#') + '">Sign Up</a>',
                    //            "tag":,
                    //            "classname":,
                    "asset": {
                        "media": el.thumburl
                    }
                })
            });

            timeline = { "timeline": {
                "headline": "Exchanges",
                "type": "default",
                "text": "Sign up for various themed gift exchanges, meet new people with similar interests, and make new friends!",
                "asset": {
                    "media": "http://www.housesittingjobs.com/wp-content/uploads/2012/11/gifts.jpg",
                    "credit": "Smart Clip Art",
                    "Caption": "Gift Exchange"
                },
                "date": timelineExchs
            }};

            console.log(timelineExchs);
            console.log(timeline);

            createStoryJS({
                type:       'timeline',
                width:      '100%',
                height:     '100%',
                source:     timeline,
                embed_id:   'exchange-timeline'
            });

            $('.btn')

        }).fail(function(data) {
            console.log("failure");
            console.log(data);
        });
    }
</script>

<div class="row content-row">
  <!--<div class="col-md-12" style="height: 100%;">-->
    <div id="exchange-timeline"></div>
  <!--</div>-->
</div>



