
<div class="center jumbotron">
  <h1>Welcome to the GiftHub</h1>

  <h2>
    Find your favorite events and exchange gifts with strangers!
  </h2>
    <% if !user_signed_in? %>
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    <% end %>
</div>

  <div ng-controller="MainCtrl" id="content">
    <div ng-controller="ExchangePagingCtrl" class="container-fluid">
      <h1>Current Exchanges</h1>
      <div class="row">
        <div class="col-xs-6 col-md-8 col-md-offset-2">
          <div class="row">
            <% @exchanges.each do |exchange| %>
                <div class="col-md-3" style="height: 15em">
                  <p><%= exchange.name %></p>
                  <a href="#">
                    <div class="row" style="padding-bottom: 1em">
                      <img alt= <%= exchange.name %> src= <%= exchange.thumburl %> class="col-md-5" />
                    </div>
                    <div class="row">
                      <div class="col-md-offset-1">
                        <p class="btn btn-primary">Sign Up</p>
                      </div>
                    </div>
                  </a>
                </div>
            <% end %>
          </div>
          <div class="row">
            <pager total-items="totalItems" ng-model="currentPage"></pager>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

